body{
  background-color: #fffef3
}

h1 {
  text-align: center;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #0086c0;/*文字色*/
  background: #FFF;
  border: solid 3px #0086c0;/*線*/
  border-radius: 10px;/*角の丸み*/
}

h2
{
  padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: #95BED7;/*背景色*/
    border-left: double 7px #0086c0;/*左線*/
    border-right: double 7px #0086c0;/*右線*/
}
